{% extends 'base.html' %}
{% block content %}
{% load static %}
{% load bootstrap4 %}


 <div id="page-content-wrapper">

     

      
              {% if user.profile.neighbourhood %}
          
               <div class="container-fluid" style="color:#ffffff;">
        <h1 class="mt-4 text-center">{{user.profile.neighbourhood.name}}</h1>
       </div>
               {% else %}
                <div class="container-fluid" style="color:#ffffff;">
        <h1 class="mt-4 text-center">Welcome to Mtaani</h1>
        <h6 class="mt-4 text-center"><b>Mtaa- (Noun) [ -Mtah ]</b>
      <i>Meaning : One's home area (neighborhood)</i></h6>
       <p class="mt-4 text-center" > <a href="{% url 'mitaa' %}" type="button" class="btn btn-info btn-sm">Join</a> your mtaa to be in the loop about everything happening in their neighborhood.</p>
        
       <p class="mt-4 text-center">  Can't find your mtaa?  <a href="{% url 'create_mtaa' %} "type="button" class="btn btn-info btn-sm">Create Mtaa</a> </p>
      </div>
                {% endif %}
       
    </div>
  

{% endblock %}