{% load crispy_forms_tags %}
{% load static%}
<nav class="navbar navbar-expand-lg navbar-dark border-bottom">
{% if user.is_authenticated%}
       <i class="fas fa-bars" id='menu-toggle' ></i>

{% endif %}
            {% if user.profile.neighbourhood %}
               <a href="{% url 'mtaa' user.profile.neighbourhood.id %}" class="navbar-brand ml-4"> <strong class="mr-4 brand">Mtaani </strong></a>
        
               {% else %}
               <a href="/" class="navbar-brand ml-4"> <strong class="mr-4 brand">Mtaani </strong></a>             {% endif %}
 


      </nav>
