{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block content %}
{% load static%}
<div class="container mt-2">
    <div class="row">
        <div class="col-md-3"></div>
        <div class="col-md-6 mt-4">
        <div class="card mt-auto mb-auto" >
    <h5 class="text-center card-title mt-2"><strong>{{user.username|title}}'s details</strong></h5>
  {%if user.profile.profile_picture%}
          <img class="rounded-circle  d-block mx-auto" height='250px' width='250px' src="{{ user.profile.profile_picture.url }}">
         {%else%}
         <img class="rounded-circle" src="{% static 'images/default.png' %}" height='250px' width='250px'  alt="">
         {% endif%}
  <div class="card-body">
    <h5 class=" mt-3"><i class="fas fa-user"></i>   : {{user.profile.name}}</h5>
    <hr>
            <p class=""> <i class="far fa-envelope"></i>   : {{user.email}}</p>
            <hr>
            <p class=""> <i class="fas fa-map-marker-alt"></i>   : {{user.profile.location}}</p>
            <hr>
            <a class="float-right" href="{% url 'edit' user.username  %}">Edit Details</a>
  </div>
</div>
       
           
        </div>
        <div class="col-md-3"></div>
    </div>

</div>


{% endblock %}
