{% extends 'base.html' %}
{% block content %}
{% load static %}
{% load bootstrap4 %}
{% load crispy_forms_tags %}
<div class="container mt-4">
<div class="container-fluid" style="color: #ffffff">
    <h1 class="mt-4 text-center">Welcome to Mtaani</h1>
    <h6 class="mt-4 text-center">
      <b>Mtaa- (Noun) [ -Mtah ]</b>
      <i>Meaning : One's home area (neighborhood)</i>
    </h6>
    <p class="mt-4 text-center">
      Register a mtaani account so that you can join/create your mtaa to be in the loop
      about everything happening in their neighborhood.
    </p>
  </div>
    <div class="row">
        <div class="col-md-4"></div>
        <div class="col-md-4 mt-4">
            <div class="card shadow-sm">
                
                <div class="card-body mr-3 ml-3">
                    <p class="text-center text-secondary">Sign up to join Mtaani
                    </p>
                    <form action="" method="post" novalidate>
                        {% csrf_token%}
                       {{ form|crispy }}
                        <button type="submit" class="btn btn-primary btn-sm"> Sign up</button>
                    </form>
                </div>
                
            </div>
            <div class="card mt-2">
                <div class="card-body mt-3 mr-3 ml-3" >
                    <p style="color: #1C2541;">Have an account? <a href="{% url 'login' %}">Log in</a></p>
                </div>
            </div>
            
            </div>
        </div>

        <div class="col-md-4"></div>
    </div>
</div>

{% endblock %}